.d-flex {
  display: flex;
}

.ml-30px {
  margin-left: 30px;
}

.ml-10px {
  margin-left: 10px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.page {
  background: #f1f4f6;
  padding: 30px;
  flex: 1;
  min-height: 100vh;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
