.mb-30px {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

.mr-10px {
  margin-right: 10px;
}

.page {
  background: #f1f4f6;
  padding: 30px;
  flex: 1;
  min-height: 100vh;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.search-form .form-row {
  display: flex;
  flex-wrap: wrap;
}

.search-form .form-row p {
  margin-left: 15px;
}
