.mb-30px {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

.mr-10px {
  margin-right: 10px;
}

.page {
  background: #f1f4f6;
  padding: 30px;
  flex: 1;
  min-height: 100vh;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.search-form .form-row {
  display: flex;
  flex-wrap: wrap;
}

.search-form .form-row p {
  margin-left: 15px;
}

.table-spinner {
  width: 100%;
  height: 3px;
  overflow: hidden;
  margin: auto;
}

.table-spinner > div {
  background-color: #3f51b5;
  width: 25%;
  height: 100%;
  margin-top: 0;
  margin-left: -25%;
  animation: bounce_loadingProgress 1.5s infinite ease-in-out both;
}

@keyframes bounce_loadingProgress {
  0% {
    margin-left: -25%;
  }
  50% {
    margin-left: 100%;
  }
}

@-webkit-keyframes bounce_loadingProgress {
  0% {
    margin-left: -25%;
  }
  50% {
    margin-left: 100%;
  }
}

